@font-face{
    font-family: Roboto-Bold;
    src:url(../assets/font/Roboto-Bold.ttf) format(ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family:Roboto-Light;
    src:url(../assets/font/Roboto-Light.ttf) format(ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:Roboto-Regular;
    src:url(../assets/font/Roboto-Regular.ttf) format(ttf);
    font-weight: normal;
    font-style: normal;
}
