<ion-header translucent >
  <ion-toolbar color="secondary" class="nav-tolbar">
    <i class="fas fa-angle-left icon_back" slot="start" ></i>
    <ion-title class="title">
      Aniversariantes
    </ion-title>
    <i class="fas fa-bars icon_menu" slot="end"></i>
  </ion-toolbar>

  <ion-toolbar color="success">
    <ion-segment class="segment" >
      <ion-segment-button class="ion-segment-button seg-btn" checked value="ANIVERSÁRIO" layout="undefined">
        <ion-label class="space_btn" position="floating" >ANIVERSÁRIO</ion-label>
      </ion-segment-button>
      <ion-segment-button class=" ion-segment-button seg-btn">
        <ion-label class="space_btn" position="floating" >UNIMED</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>
<ion-content class="ion-content teste">

<ion-item class="subtitle" lines="none">
  <h1 class="text">Veja os coperadores que comemoram aniversario. Selecione uma data ou pesquise pelo nome.</h1>
</ion-item>


<ion-card class="card-data">
  <ion-item>
    <i class="far fa-calendar-alt" id="icons-Calen" slot="start"></i>
    <ion-datetime name='data' displayFormat="MMMM YYYY"  value={{Atual}} (ionChange)="enviarValor($event)" id="data-text"></ion-datetime>
    <i class="fas fa-caret-right" slot="end" id="icons-set" ></i>
  </ion-item>
</ion-card>


<ion-card class="card-input">
  <ion-item>
    <ion-input class="input-label" type="text" placeholder="Nome do aniversariante"  (ionChange)="enviarNome($event)"></ion-input>
  </ion-item>
</ion-card>


  <ion-card class="card-list" lines="none" *ngFor="let i of dia">
    <ion-item class="titulo"  class="texto" >
      <ion-label>Aniversariante do dia</ion-label>
        <ion-item  slot="end" class="data-list" lines="none">
          <div class="data-sel">
            <p class="data_num">{{i}} </p>
            <p class="data_mon">{{ Atual | date : "MMM" }}</p>
          </div>
        </ion-item>
    </ion-item>
    <ion-item-group lines="none">
      <ng-container *ngFor="let pessoas of Aniversarios">
        <ion-item *ngIf="pessoas.mes==[mes] && pessoas.dia == i" >
          <ion-text slot="start">
            {{pessoas.nome}}
          </ion-text>
          <ion-text slot="end">
            {{pessoas.dia}}
          </ion-text>
        </ion-item>
      </ng-container>
     
    </ion-item-group>

    

</ion-card>
  

</ion-content>

